<!-- app/views/posts/_form.html.erb -->
<%= form_with(model: post, local: true) do |form| %>
  <div class="mb-4">
    <%= form.label :title, class: 'block text-gray-700' %>
    <%= form.text_field :title, class: 'form-input mt-1 block w-full' %>
  </div>
  
  <div class="mb-4">
    <%= form.label :post_type, 'Post Type', class: 'block text-gray-700' %>
    <%= form.select :post_type, [['Article', 'article'], ['Video', 'video'], ['Trade Idea', 'trade_idea']], {}, class: 'form-input mt-1 block w-full', id: 'post_type_select' %>
  </div>

  <div id="article_fields" class="mb-4" style="display:none;">
    <%= form.label :body, 'Content', class: 'block text-gray-700' %>
    <%= form.text_area :body, class: 'form-textarea mt-1 block w-full' %>
  </div>
  
  <div id="video_fields" class="mb-4" style="display:none;">
    <%= form.label :url, 'Video URL', class: 'block text-gray-700' %>
    <%= form.text_field :url, class: 'form-input mt-1 block w-full' %>
  </div>

  <div id="trade_idea_fields" class="mb-4" style="display:none;">
    <%= form.fields_for :trade, post.trade || post.build_trade do |trade_form| %>
      <div class="mb-4">
        <%= trade_form.label :stock_name, 'Stock Name', class: 'block text-gray-700' %>
        <%= trade_form.text_field :stock_name, class: 'form-input mt-1 block w-full' %>
      </div>
      <div class="mb-4">
        <%= trade_form.label :executed_at, 'Executed At', class: 'block text-gray-700' %>
        <%= trade_form.datetime_select :executed_at, class: 'form-input mt-1 block w-full' %>
      </div>
      <div class="mb-4">
        <%= trad
