<div class="relative w-full h-72 bg-cover bg-center" style="background-image: url('<%= url_for(@user.banner_image) if @user.banner_image.attached? %>');">
  <div class="absolute top-4 left-4">
    <!-- Social media buttons here -->
  </div>
</div>
<div class="relative flex justify-center -mt-16">
  <div class="avatar">
    <div class="w-24 h-24 rounded-full ring ring-white ring-offset-base-100 ring-offset-2 overflow-hidden">
      <% if @user.profile_picture.attached? %>
        <img src="<%= url_for(@user.profile_picture) %>" alt="<%= @user.username %>" class="w-full h-full object-cover" />
      <% else %>
        <div class="rounded-full bg-gray-200 w-24 h-24 flex items-center justify-center">
          <span class="text-gray-700 text-lg">No Image</span>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="relative flex justify-center mt-2">
  <% if current_user != @user %>
    <button class="btn btn-outline btn-primary mx-2">Follow</button>
  <% end %>
</div>

<div class="text-center mt-4">
  <div class="inline-flex items-center space-x-2">
    <span class="px-2 py-1 bg-gray-200 rounded-full text-lg">@<%= @user.username %></span>
  </div>
  <p class="text-gray-600 mt-1 text-sm"><%= @user.bio %></p>
  <p class="text-gray-600 text-sm">Subscribers: 2678</p>
  <% if current_user == @user %>
    <div class="flex justify-center mt-2">
      <a href="<%= edit_user_path(@user) %>" class="bg-blue-500 text-white font-bold py-1 px-3 rounded-full hover:bg-blue-700 flex items-center justify-center text-sm group">
        <span>Edit Profile</span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 ml-1 transition-transform duration-300 group-hover:translate-x-1">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
        </svg>
      </a>
    </div>
  <% end %>
</div>

<div class="mt-4">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-xl font-semibold text-gray-700">Posts</h2>
    <a href="<%= new_post_path %>" class="bg-blue-800 text-white px-4 py-2 rounded-full inline-flex items-center justify-center hover:bg-blue-700">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
      </svg>
    </a>
  </div>
  
</div>
