<h1><%= @user.username %>'s Profile</h1>

<p><%= @user.bio %></p>

<% if @user.trader? %>
  <h2>Posts</h2>
  <% @posts.each do |post| %>
    <div>
      <h3><%= post.title %></h3>
      <p><%= post.body %></p>
      <p>External Link: <%= link_to post.url, post.url %></p>
    </div>
  <% end %>

  <h2>Trades</h2>
  <% @trades.each do |trade| %>
    <div>
      <p>Stock: <%= trade.stock_name %></p>
      <p>Executed At: <%= trade.executed_at %></p>
      <p>Performance: <%= trade.performance %></p>
      <p>Type: <%= trade.buy_or_sell %></p>
      <p>Quantity: <%= trade.quantity %></p>
      <p>Price: <%= trade.price %></p>
      <p>Description: <%= trade.description %></p>
    </div>
  <% end %>
<% end %>

<% if current_user&.student? %>
  <h2>Subscriptions</h2>
  <% @subscriptions.each do |subscription| %>
    <div>
      <p>Subscribed to: <%= link_to subscription.trader.username, user_path(subscription.trader) %></p>
      <p>Tier: <%= subscription.tier %></p>
      <p>Status: <%= subscription.status %></p>
    </div>
  <% end %>
<% end %>
