<div class="glass w-full lg:w-72 xl:w-96 rounded-lg shadow-lg mx-auto mt-4 p-4 bg-white bg-opacity-30 backdrop-filter backdrop-blur-lg sticky top-16">
  <h2 class="px-4 py-2 text-xl text-center bg-hiy bg-opacity-70 font-semibold text-black rounded-lg">Trending Topics</h2>
 
  <% sorted_trending_topics = @trending_topics.sort_by { |topic| -topic[:count] } %>

  <% sorted_trending_topics.first(5).each_with_index do |topic, index| %>
    <div class="p-2 bg-teal-500 bg-opacity-50 flex items-center justify-between border-t border-gray-200 cursor-pointer hover:bg-teal-900 hover:bg-opacity-70 rounded-sm transition duration-300 ease-in-out">
      <div class="flex items-center">
        <img class="rounded-full h-10 w-10" src="https://loremflickr.com/g/600/600/random?lock=<%= index %>" alt="Trending Image">
        <div class="ml-2 flex flex-col">
          <div class="leading-snug text-sm text-black font-bold"><%= index + 1 %>. <%= topic[:text] %></div>
          <div class="leading-snug text-xs text-black">Trending with <%= topic[:count] %> mentions</div>
        </div>
      </div>
    </div>
  <% end %>
  
  <div class="flex justify-center">
    <h2 class="px-4 py-2 font-bold text-black bg-white cursor-pointer rounded-lg" id="show-more-trends">Show more</h2>
  </div>

  <div id="more-trends" class="hidden">
    <% sorted_trending_topics.drop(5).each_with_index do |topic, index| %>
      <div class="p-3 bg-teal-500 bg-opacity-50 flex items-center justify-between border-t border-gray-200 cursor-pointer hover:bg-teal-600 hover:bg-opacity-70 rounded-lg transition duration-300 ease-in-out">
        <div class="flex items-center">
          <img class="rounded-full h-10 w-10" src="https://loremflickr.com/g/600/600/random?lock=<%= index + 5 %>" alt="Trending Image">
          <div class="ml-2 flex flex-col">
            <div class="leading-snug text-sm text-black font-bold"><%= index + 6 %>. <%= topic[:text] %></div>
            <div class="leading-snug text-xs text-black">Trending with <%= topic[:count] %> mentions</div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  document.getElementById('show-more-trends').addEventListener('click', function() {
    document.getElementById('more-trends').classList.toggle('hidden');
  });
</script>
