<div class="group card bg-white shadow-lg mb-6 max-w-3xl mx-auto transition-transform duration-300 transform hover:-translate-y-2 hover:shadow-2xl rounded-xl">
  <div class="card-body p-4">
    <div class="mb-4">
      <% if post.user.profile_picture.attached? %>
        <img src="<%= url_for(post.user.profile_picture) %>" alt="<%= post.user.username %>" class="w-12 h-12 rounded-full mr-4 shadow-md">
      <% else %>
        <img src="https://robohash.org/<%= post.user.username %>?size=50x50" alt="<%= post.user.username %>" class="w-12 h-12 rounded-full mr-4 shadow-md">
      <% end %>
      <div>
        <h3 class="font-semibold text-lg font-system"><%= "#{post.user.first_name} #{post.user.last_name}" %></h3>
      </div>
    </div>
    <h2 class="text-lg hover:underline font-bold font-system mb-4"><%= post.title %></h2>

    <!-- Display Post Body -->
    <p class="text-gray-700 text-sm mb-4 font-system"><%= post.body %></p>

    <% if post.post_type == 'video' %>
      <a href="<%= post.url %>" class="text-blue-600 hover:underline font-system">Watch Video</a>
    <% elsif post.post_type == 'trade_idea' && post.trade.present? %>
      <%= render 'trades/trade_card', trade: post.trade %>

      <!-- Expandable Metrics Section for Trade Posts -->
      <button class="bg-teal-500 bg-opacity-35 shadow-lg btn btn-primary mt-4 font-system" onclick="toggleMetrics(<%= post.id %>)">Show Metrics</button>
      <div id="metrics-<%= post.id %>" class="hidden mt-4">
        <div aria-label="Card" class="card bg-base-100 card-bordered">
          <div class="card-body p-0">
            <div class="px-5 pt-4">
              <span class="font-medium font-system">Financial Metrics</span>
            </div>
            <div class="mt-2 border-y border-base-content/10 py-2">
              <div class="grid grid-cols-3 gap-5 divide-x divide-base-content/10">
                <% if post.trade.stock_name.present? %>
                  <div class="text-center font-system">
                    <p class="text-base font-medium">Stock Name</p>
                    <p class="mt-1 text-2xl font-semibold"><%= post.trade.stock_name %></p>
                  </div>
                <% end %>
                <% if post.trade.quantity.present? %>
                  <div class="text-center font-system">
                    <p class="text-base font-medium">Quantity</p>
                    <p class="mt-1 text-2xl font-semibold"><%= post.trade.quantity %></p>
                  </div>
                <% end %>
                <% if post.trade.price.present? %>
                  <div class="text-center font-system">
                    <p class="text-base font-medium">Price</p>
                    <p class="mt-1 text-2xl font-semibold"><%= number_with_precision(post.trade.price, precision: 2, delimiter: ',') %></p>
                  </div>
                <% end %>
                <% if post.trade.performance.present? %>
                  <div class="text-center font-system">
                    <p class="text-base font-medium">Performance</p>
                    <p class="mt-1 text-2xl font-semibold"><%= number_with_precision(post.trade.performance, precision: 3) %></p>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="p-5 font-system">
              <div class="overflow-hidden rounded-lg">
                <div id="financial-metrics-chart-<%= post.id %>" style="min-height: 210px;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="flex justify-end mt-6">
      <span class="text-sm text-gray-500 font-system"><%= time_ago_in_words(post.created_at) %> ago</span>
    </div>

    <!-- Actions (Comments, Share, Save) -->
    <div class="border-t mt-2 pt-1 flex justify-around text-gray-600 font-system">
      <div class="flex items-center space-x-1" onclick="toggleComments(<%= post.id %>)">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M21 14a2 2 0 01-2 2H5l-4 4V4a2 2 0 012-2h14a2 2 0 012 2v10z" />
        </svg>
        <span class="text-sm">Comments</span>
      </div>
      <div class="flex items-center space-x-1">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.707-4.707a1 1 0 011.414 0l2.586 2.586a1 1 0 010 1.414L18 14l-3-3-4 4H5v-5l5-5z" />
        </svg>
        <span class="text-sm">Share</span>
      </div>
      <div class="flex items-center space-x-1">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11h14M5 8h14m-7 8v4l-7-4m0 0l7-4" />
        </svg>
        <span class="text-sm">Saved</span>
      </div>
    </div>

    <!-- Comments Section -->
    <div id="comments-<%= post.id %>" class="hidden mt-4">
      <h3 class="text-lg font-semibold">Comments</h3>
      <% post.comments.each do |comment| %>
        <div class="border-t mt-2 pt-2">
          <p class="text-sm text-gray-700"><%= comment.user.username %>: <%= comment.body %></p>
        </div>
      <% end %>
      <%= form_with model: [post, Comment.new], local: true do |f| %>
        <div class="mt-4">
          <%= f.text_area :body, class: "w-full p-2 border rounded-md", placeholder: "Add a comment..." %>
        </div>
        <div class="mt-2 flex justify-end">
          <%= f.submit "Post", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<script>
  function toggleComments(postId) {
    const commentsSection = document.getElementById(`comments-${postId}`);
    if (commentsSection) {
      commentsSection.classList.toggle('hidden');
    }
  }

  function toggleMetrics(postId) {
    const metricsSection = document.getElementById(`metrics-${postId}`);
    if (metricsSection) {
      metricsSection.classList.toggle('hidden');
    }
  }
</script>
